<!-- Mobile Header -->
<div class="sticky top-0">
  <div class="flex items-center gap-x-6 bg-white dark:bg-gray-900 px-4 py-4 mr-4 shadow-sm 
              shadow-gray-200/50 dark:shadow-gray-800/20 sm:px-6 lg:hidden">
    <button type="button" class="cursor-pointer -m-2.5 p-2.5 text-indigo-600 dark:text-indigo-400 
            hover:text-indigo-700 dark:hover:text-indigo-300 transition-colors duration-200" 
            data-action="transition#open">
      <span class="sr-only">Open sidebar</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
          stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>
</div>